---
const { item_number = '', label = 'Add to Cart' } = Astro.props;
---

<a href={`https://payhip.com/b/${item_number}`} class="payhip-add-to-cart">
  {label}
</a>

<script is:inline>
  function loadPayhipScript() {
    console.log(window.payhipScriptLoaded);
    if (!window.payhipScriptLoaded) {
      console.log('do it');
      const script = document.createElement('script');
      script.src = 'https://payhip.com/payhip.js';
      script.type = 'text/javascript';
      script.onload = () => {
        window.payhipScriptLoaded = true;
        if (window.PayhipButtons) {
          window.PayhipButtons.init();
          console.log('hello');
          console.log(window.payhipConfig);
        }
      };
      document.body.appendChild(script);
    } else {
      if (window.PayhipButtons) {
        window.PayhipButtons.init();
        console.log('hello');
      }
    }
  }

  // On full load and Astro client nav
  document.addEventListener('DOMContentLoaded', loadPayhipScript);
  document.addEventListener('astro:after-swap', loadPayhipScript);
</script>
