---
import ImageMod from './ImageMod.astro';
import { Icon } from 'astro-icon/components';

const testimonial = Astro.props.testimonial;
const aosDelay = Astro.props.aosDelay as number;
---

<div
  class="p-7 rounded-2xl border border-border/80"
  data-aos="fade-up-sm"
  data-aos-delay={aosDelay}
>
  <div class="flex items-center mb-4">
    <Icon
      name="l-quote"
      width={60}
      height={60}
      class="text-primary/50 group-hover:text-white transition-all duration-500 opacity-[45%]"
    />
    <div class="ml-3">
      <p class="font-bold">{testimonial.name}</p>
      <p class="text-text/50">{testimonial.designation}</p>
    </div>
  </div>
  <p>"{testimonial.content}"</p>
</div>
