---
import { markdownify } from '@/lib/utils/textConverter';
import { getEntry } from 'astro:content';
import GradientTitle from './GradientTitle.astro';
import type { CollectionEntry } from 'astro:content';
import RightArrowBtn from './RightArrowBtn.astro';

const whyUs = (await getEntry('whyUs', 'why-us')) as CollectionEntry<'whyUs'>;
const { head, title, description, marqueeTextList } = whyUs?.data;
---

<section class="section">
  <div class="container">
    <div class="flex flex-col lg:flex-row lg:items-center gap-10 w-full">
      {/* LEFT */}
      <div class="lg:w-[44%]">
        <div class="space-y-6">
          <GradientTitle
            title="Time for CHANGE"
            data-aos="fade-up-sm"
            data-aos-delay="100"
          />
          <h2 data-aos="fade-up-sm" data-aos-delay="150">
            Unlock the Fastest Way to Shift Your Reality
          </h2>
          <p
            class="text-xl md:text-3xl text-text/80"
            data-aos="fade-up-sm"
            data-aos-delay="200"
          >
            What if the secret to manifesting the life you want… wasn’t in
            repeating affirmations, but in <span
              class="italic font-bold text-white"
              >asking the right questions</span
            >?
          </p>
        </div>
      </div>

      {/* RIGHT */}
      <div class="lg:w-[56%] relative z-0">
        <!-- gradient container -->
        <div>
          <div class="space-y-10">
            {
              marqueeTextList &&
                marqueeTextList.length &&
                marqueeTextList.map((marqueeText) => (
                  <div class="is-texts-slider">
                    <div class="swiper-wrapper reverse">
                      {marqueeText.textList &&
                        marqueeText.textList.length &&
                        marqueeText.textList.map((text) => (
                          <p
                            class="text-2xl text-text-light font-light swiper-slide"
                            set:html={markdownify(text)}
                          />
                        ))}
                    </div>
                  </div>
                ))
            }
          </div>
        </div>
      </div>
    </div>
    <div class="flex items-center mt-8">
      <RightArrowBtn
        link="/products"
        label="Ready for the Shift?"
        className="btn btn-primary py-3"
      />
    </div>
  </div>
</section>

<script>
  import { Swiper } from 'swiper';
  import 'swiper/css';
  import 'swiper/css/pagination';
  import { Autoplay } from 'swiper/modules';

  function initSwiper() {
    const sliders = document.querySelectorAll('.is-texts-slider');

    sliders.forEach((slider, index) => {
      const isOdd = index % 2 !== 0;

      new Swiper(slider as HTMLElement, {
        modules: [Autoplay],
        centeredSlides: true,
        speed: 10000,
        direction: 'horizontal', // Or "vertical" depending on your preference
        autoplay: {
          delay: 0,
          disableOnInteraction: false,
          reverseDirection: isOdd ? false : true,
        },
        loop: true,
        breakpoints: {
          768: {
            slidesPerView: 2,
          },
        },
        allowTouchMove: true,
      });
    });
  }

  document.addEventListener('astro:page-load', initSwiper);
</script>
