---
const { pageHeader } = Astro.props;
---

<section class="section py-16 pb-8 lg:pt-20 lg:pb-12 bg-hero-image">
  <div class="container">
    <div class="section-intro text-center lg:col-6 mx-auto">
      <h2
        class="text-h2 lg:text-hero"
        set:html={pageHeader.title}
        data-aos="fade-up-sm"
        data-aos-delay="100"
      />
      <p
        class="text-text/80 mt-4 text-lg text-left"
        set:html={pageHeader.subtitle}
        data-aos="fade-up-sm"
        data-aos-delay="200"
      />
    </div>
  </div>
</section>
<section class="section py-16 lg:pt-20 lg:pb-32">
  <div class="container">
    <div class="section-container">
      <div
        class="max-w-[760px] mx-auto border border-border shadow-inset shadow-shadow/60 p-4 rounded-2xl bg-body h-[750px] md:h-[640px] overflow-hidden"
      >
        <!-- form.123formbuilder.com script begins here -->
        <iframe
          allowtransparency="true"
          style="min-height:300px; height:inherit; overflow:hidden;"
          width="100%"
          id="contactform123"
          name="contactform123"
          marginwidth="0"
          marginheight="0"
          frameborder="0"
          src="https://form.123formbuilder.com/my-contact-form-6849179.html?customVars123=yes&hasEmbedFormStyle=1&hasTransparentBg=1"
        >
          <p>Your browser does not support iframes. The contact form cannot be
          displayed. Please use another contact method (phone, fax etc)</p>
        </iframe>
        <!-- form.123formbuilder.com script ends here -->
      </div>
    </div>
  </div>
</section>
