---
import Base from '@/layouts/Base.astro';
import ProductCard from '@/components/ProductCard.astro';
import PageHeader from '@/partials/PageHeader.astro';
import { filterProducts } from '@/helpers/FilterProducts';
---

<Base>
  <PageHeader
    title="Overcoming Addictions"
    description="Break free from old patterns and reconnect with your inner strength. These audios are created to support your healing journey by using compassionately worded afformations and calming binaural beats that speak directly to the subconscious. Each track is designed to gently shift the beliefs and emotional triggers that keep you stuck, helping you build resilience, self-trust, and the inner peace needed to reclaim your power and choose freedom."
    playSample={true}
  />

  <section class="section">
    <div class="container">
      <p>
        Each track is about 30 minutes long. Your download will include the mp3
        audio file and an audio companion guide (PDF).
      </p>
      <div class="mt-8 grid md:grid-cols-2 xl:grid-cols-3 gap-4 items-stretch">
        {
          !filterProducts(5).length && (
            <p class="my-8 italic">Audios coming soon!</p>
          )
        }
        {filterProducts(5).map((item) => <ProductCard info={item} />)}
      </div>
    </div>
  </section>
</Base>
