---
import Base from '@/layouts/Base.astro';
import product from '@/config/product-categories.json';
import ProductCard from '@/components/ProductCard.astro';
import PageHeader from '@/partials/PageHeader.astro';
import { filterProducts } from '@/helpers/FilterProducts';
---

<Base>
  <PageHeader
    title="Love and Relationships"
    description="Open your heart and attract the connection you desire. These audios are designed to gently shift your inner beliefs around love, worthiness, and emotional connection using soul-aligned afformations and soothing binaural beats. Whether you're calling in your soulmate, deepening an existing relationship, or healing past wounds, each track supports you in becoming energetically aligned with real, lasting love."
    playSample={true}
  />

  <section class="section">
    <div class="container">
      <p>
        Each track is about 30 minutes long. Your download will include the mp3
        audio file and an audio companion guide (PDF).
      </p>
      <div class="mt-8 grid md:grid-cols-2 xl:grid-cols-3 gap-4 items-stretch">
        {
          !filterProducts(2).length && (
            <p class="my-8 italic">Audios coming soon!</p>
          )
        }
        {filterProducts(2).map((item) => <ProductCard info={item} />)}
      </div>
    </div>
  </section>
</Base>
